<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/zhujieshan/ajwbidabdoAKlsn/edit/main/新贵州移动办公平台@cmcc.gz.moa.dev.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cmcc.gz.moa.dev</string>
				<key>bundle-version</key>
				<string>40609202311291</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>1</string>
				<key>title</key>
				<string>新移动办公平台</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
